*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, li {
	list-style: none;
	display: inline-block;
}

a {
	text-decoration: none;
	color: inherit;
}

html {
    color:black;
    font-family: sans-serif;
  }

body{
	background-color: #fff;
	font-family: 'Poppins', sans-serif;
}

#container {
	height: 100vh;
	margin-top: 30px;	
	display: grid;
	grid-template-rows: repeat(3, 1fr);
}

/* HOME/INDEX PAGE */

#introduction  {
	padding-top: 30px;
	order: 2;
}	

#introduction .myName {
	font-weight: 600;
	color: #F26522;
}

#introduction p {
	margin: 10px;
	font-size: 10pt;
}

#social {
	padding-top: 20px;
	margin: 10px;
}

.socialButton {
	display: block;
	margin: 10px auto;
	border-radius: 20px;
	width: 100%;
}

a.socialButton {
	text-decoration: none;
	color: #fff;
	font-size: 11pt;
	display: grid;
	grid-template-columns:20% auto;
}

.socialButton img,
.socialButton span {
	vertical-align: middle;
	align-self: center;
}

.socialButton img{
	display: inline;
	width: 33px;
	margin: 5px 10px 5px 15px;
	grid-column: 1/2;
}

.socialButton span {
	margin-right: 15px;
	font-size: 9pt;
	grid-column: 2/3;
}

#logo {
	margin: 0 auto;
	width: 55%;
	order: 1;
}

#logo img {
	display: inline-block;

}

	.selected {
		border-bottom: solid 2px #F26522;
	}

/* PROJECTS PAGE */
#mainNav_projects {
	grid-row-start: 1;
}

#header {
	grid-row-start: 2;
}

#projects {
	grid-row-start: 3;
}

.card {
	position: relative;
		-webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.39);
		-moz-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.39);
		box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.39);
}

.card_description {
		position: absolute;
		padding-left: 10px; padding-right: 10px; padding-bottom: 10px;
		bottom:0;
		left:0;
		opacity: 1;
		color: #fff;
		background-color:#000;
		opacity:0.9; /* transparency */
		filter:alpha(opacity=90); /* IE transparency */
}

.card_description p {
		font-size: 9pt;

}

.card_description ul {
	margin-top: 5px;
}
.card_description li a{
	background-color: #F26522 ;
	padding: 3px;
	border-radius: 3px;
	font-size: 8pt;
}

/* FOOTER */

#footer {
	font-size: 10pt;
	text-align: center;
	order: 3;
}
.heart {
	color: pink;
}


	.one {
		background: url('img/projects/web_sample2.jpg');
		background-size: cover;
	}

	.two {
		background: url('img/projects/app_sample1.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}

	.three {
		background: url('img/projects/app_sample2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}

	.four {
		background: url('img/projects/web_sample1.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}

	.five {
		background: url('img/projects/il_sample1.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
	.six {
		background: url('img/projects/web_sample3.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}

/* ============== MEDIA QUERY =====================*/

@media screen and (max-width: 649px) {
	#mainNav, #mainNav_projects {
		margin: 0 auto;
	}

	#mainNav li, #mainNav_projects li {
		margin: 0 10px;
	} 

	#projects {
		display: grid;
		grid-template-rows: repeat(6, 1fr);
		grid-gap: 10px;
		margin: 10px 0;
	}

	#projects .nav {
		display: none;
	}

	.card {
		height: 300px;
	}
}


@media screen and (min-width: 650px) {
	#container {
		display: grid;
		margin: 0;
		grid-template-columns: 10% 40% 40% 10%;
		grid-template-rows: 10% 15% auto 10%;
	}

	/* HOME or INDEX PAGE */

	#mainNav {
		grid-column: 3/4;
		grid-row: 2/3;
		justify-self: right;
		align-self: top;
	}

	#mainNav li {
		font-size: 1.2vw;
		padding: 0 10px;
	}

	#introduction {
		grid-column: 2/3;
		grid-row: 3/4;
		letter-spacing: 2pt;
		padding: 0 30px;
	}

	#introduction p{
		font-size: 2.5vw;
		margin: 0;
	}

	#social {
		width: 70%;
		margin: 0 auto;
	}

	#social span {
		font-size: .8vw;
	}

	#logo {
		grid-column: 3/4;
		grid-row: 3/4;
		width: 90%;
	
	}

	/* PROJECTS PAGE */


	#mainNav_projects {
		display: none;
	}

	#header {
		grid-column: 2/4;
		grid-row: 2/3	;
	}

	#projects {
		grid-column: 2/4;
		grid-row: 3/4;
		display: grid;
		grid-template-columns: repeat(8, 20fr);
		grid-template-rows: repeat(4, 20fr);
		grid-gap: 10px;
	}
	
	.nav a {
			background-color: #F26522;
			color: #fff;
			border-radius: 5px;
			padding: 8px 30px;
		}

	.nav {
		transition: .6s all;
	}

	.nav:hover {
			transform: scale(1.1);
		}

	.card {
		position: relative;
		transition: all .2s;
		filter: grayscale(100%);		
	}	

	.card:hover {
		transform: scale(1.2);
		z-index: 2;
		filter: grayscale(0%);		
	}

	.card_description {
		opacity: 0;
	}

	.card:hover .card_description {
		opacity: .9;
	}

	.one {
		grid-column: 1/3;
		grid-row: 1/4;
	}

	.two {
		grid-column: 3/5;
		grid-row: 1/3;
	}

	.three {
		grid-column: 3/5;
		grid-row: 3/5;
	}

	.four {
		grid-column: 5/7;
		grid-row: 1/4;
	}

	.five {
		grid-column: 5/7;
		grid-row: 4/5;
	}

	.six {
		grid-column: 7/9;
		grid-row: 2/5;
	}

	.nav {
		grid-column: 7/9;
		justify-self: center;
		align-self: center;
		font-size: 2vw;
	}

	/* CONTACTS */

	#contact_info {
		grid-column: 2/4;
		grid-row: 3/4;
		justify-self: center;
		text-align: center;
	}

	#footer {
		margin: 0;
		grid-column: 2/4;		
		grid-row: 4/5;
  	justify-self: center;
  	align-self: center;
  	font-size: .9vw;
	}
}